.gathering-bar-vertical-wrapper {
    position: absolute;
    top: 30px; // align with your StatsBar
    left: 350px; // shift it to the right of StatsBar
    width: 12px;
    height: 145px;
     background-color: rgb(101, 172, 239);
    border-radius: 4px;
    overflow: hidden;
    z-index: 999;
}

.gathering-bar-vertical {
    width: 100%;
   
      background: rgba(32, 33, 37, 0.9);
    transition: height 0.1s linear;
}
