.settings-view {
    position: fixed;
    z-index: 1200;
    width: 360px;
    background: #e6e6e6;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .45);
    user-select: none;
}

.settings-header {
    background: linear-gradient(180deg, #2e3546 0, #2e3546 50%, #1e2433 50%, #1e2433);
    color: #fff;
    font-weight: 700;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px 8px 0 0;
    cursor: grab;

    span {
        pointer-events: none;
    }

    .close-button {
        margin-left: auto;
        border: 1px solid #000;
        border-bottom-width: 2px;
        border-radius: 4px;
        background: repeating-linear-gradient(#f55041, #f55041, 50%, #c23027 0, #c23027);
        color: #fff;
        font-weight: 800;
        padding: 4px 8px;
        cursor: pointer;
    }
}

.settings-body {
    padding: 12px;
}

.setting-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f6f6;
    border: 1px solid #cfcfcf;
    color:#000;
    border-radius: 8px;
    padding: 10px;
}

.actions {
    margin-top: 16px;
    text-align: right;
}

.habbo-action-button {
    background-color: #1a1a1a;
    border: 2px solid #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 10px;
    margin: 2px;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    cursor: pointer;
    transition: background-color .2s
}

.habbo-action-button:hover {
    background-color: #2c2c2c
}

.habbo-action-button:active {
    background-color: #000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6)
}

.habbo-action-button.green {
    background-color: #007c17;
    border-color: #003d0b
}

.habbo-action-button.green:hover {
    background-color: #0aa127
}

.habbo-action-button.green:active {
    background-color: #003d0b;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6)
}

.habbo-action-button.red {
    background-color: #aa1c1c;
    border-color: #5a0000
}

.habbo-action-button.red:hover {
    background-color: #c52b2b
}

.habbo-action-button.red:active {
    background-color: #5a0000;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6)
}
/* Body helper while dragging */
body.dragging {
    cursor: grabbing !important;
    user-select: none !important;
}