.wanted-list-view {
    width: 340px;
    background: #dedede;
    border: 2px solid #222;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.wanted-header {
    background: linear-gradient(180deg,#bd9426,#bd9426 50%,#cdb267 0,#cdb267);
    color: #fff;
    padding: 8px 10px;
    font-size:20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.close-btn {
    cursor: pointer;
    color: #FFF;
    padding: 1px 3px;
    line-height: 1;
    border-radius: .25rem;
    box-shadow: 0 0 0 1.6px #fff;
    border: solid 2px #921911;
    background: repeating-linear-gradient(#f55041, #f55041, 50%, #c23027 0, #c23027);
    transition: 0.5s;
}

.close-btn:hover {
    background: repeating-linear-gradient(#f55749, #f55749, 50%, #d33a32 0, #d33a32);
    transition: 0.5s;
}

.wanted-content {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    color:#000;
}

.wanted-entry {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
}

.avatar img {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    background: #eee;
    margin-right: 10px;
}

.wanted-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    margin-bottom: 4px;
    color:#000;

}

.charges {
    color: #444;
    font-size: 13px;
    margin-bottom: 4px;
}

.wanted-stars {
    font-size: 24px;
    color: orange;

    .filled {
        color: orange;
    }

    .empty {
        color: #bbb;
    }
}